{% extends 'admin/index.html' %}
{% load static %}

{% block content %}
    <section class="rt_wrap content mCustomScrollbar">
        <div class="rt_content">
            <div class="page_title">
                <h3>添加新的商品大类别 <span class="label label-default">New</span></h3>
            </div>
            <form action="{% url 'admin:addbigcategory' %}" method="post" enctype="multipart/form-data" id="form">
                {% csrf_token %}
                <ul class="ulColumn2">

                    <li>
                        <span class="item_name" style="width:190px;">请输入新的商品大类别：</span>
                        <input name="newbigcategory" class="textbox textbox_225"/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">上传图片：</span>
                        <label class="uploadImg">
                            <input name="newpicture" type="file"/>
                        </label>
                    </li>
                    <li>
                        <span class="item_name" style="width:45px;"></span>
                        <input type="button" value="提交" onclick="big()">
                    </li>
                </ul>
            </form>

        </div>

        <div class="rt_content">
            <div class="page_title">
                <h3>修改已有商品大类别 <span class="label label-default">ALTER</span></h3>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span6">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    大类别id
                                </th>
                                <th>
                                    大类别名称
                                </th>
                                <th>
                                    操作
                                </th>
{#                                <th>#}
{#                                    状态#}
{#                                </th>#}
                            </tr>
                            </thead>
                            <tbody>

                            {% for bigcategory in all_bigcategory %}
                            <tr>
                                <td>
                                    {{ bigcategory.id }}
                                </td>
                                <td>
                                    {{ bigcategory.categoryname }}
                                </td>
                                <td>
                                    <a onclick="update()">修改</a>
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="span6">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">修改大板块</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'admin:alterbigcategory' %}" method="post" id="form1" >
            {% csrf_token %}
          <input type="hidden" value="{{ bigcategory.id }}" name="cid" >
          <div class="form-group">
            <label for="recipient-name" class="control-label">新的大板块名称:</label>
            <input type="text" class="form-control" id="recipient-name" name="name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">新的大板块图片:</label>
              <input type="file" class="control-label" name="picture">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="alter()">提交修改</button>
      </div>
    </div>
  </div>
</div>

    <script>

        function big() {
            $.ajax({

                cache: false,
                contentType: false,

                type: "POST",

                dataType: "json",//返回的数据类型为Json对象

                url: "{% url 'admin:addbigcategory' %}", //发送请求到后台的地址

                data: new FormData(document.getElementById("form")), //发送的数据是id="for"的表单中的数据,其中document.getElementById()函数的功能是根据对象的名称获取对象
                processData: false,//不希望自动转换

                async: false,//请求设为异步

                error: function (request) {//发送请求失败执行的函数

                    alert("发送请求失败！");

                },

                success: function (data) {//发送请求成功执行的函数

                    if (data['code'] == 1) {
                        alert('新大类别已添加')
                    }
                    else {
                        alert('大类别已存在，请重新输入')
                    }
                }

            });
        }
        

        function update() {
            $('#exampleModal').modal('show')

        }

        function alter() {
            $.ajax({

                cache: false,
                contentType: false,

                type: "POST",

                dataType: "json",//返回的数据类型为Json对象

                url: "{% url 'admin:alterbigcategory' %}", //发送请求到后台的地址

                data: new FormData(document.getElementById("form1")), //发送的数据是id="for"的表单中的数据,其中document.getElementById()函数的功能是根据对象的名称获取对象
                processData: false,//不希望自动转换

                async: false,//请求设为异步

                error: function (request) {//发送请求失败执行的函数

                    alert("发送请求失败！");

                },

                success: function (data) {//发送请求成功执行的函数

                    if (data['code'] == 1) {
                        alert('新大类别已添加')
                    }
                    else {
                        alert('大类别已存在，请重新输入')
                    }
                }

            });
        }
    </script>
{% endblock content %}

{% block foot %}
{% endblock foot %}

