{% extends 'admin/index.html' %}
{% load static %}

{% block content %}
    <section class="rt_wrap content mCustomScrollbar">
        <div class="rt_content">
            <div class="page_title">
                <h2 class="fl">添加已有类别商品</h2>
            </div>
            <form action="{% url 'admin:addinventory4' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <ul class="ulColumn2">
                    <li>
                        <span class="item_name" style="width:120px;">分类：</span>
                        <select name="category" class="select" id="category" style="width: 120px;">
                            <option>选择已有产品分类</option>
                            {% for commodity_category in commodity_categories %}
                                <option value="{{ commodity_category.id }}">{{ commodity_category.categoryname }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">品牌：</span>
                        <select name="brand" class="select" id="brand">
                            <option>选择品牌</option>
                            {% for commodity in commodity_brand %}
                                <option value="{{ commodity.id }}">{{ commodity.brandname }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">商品名称：</span>
                        <select name="goodname" class="select" id="goodname" style="width: 120px">
                            <option>请选择商品</option>
                        </select>
                    </li>

                    <li id="a1">
                        <span class="item_name" style="width:120px;">商品类别：</span>
                        <select name="section" class="select" id="section" style="width: 120px">
                            <option>请选择类别</option>
                        </select>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">规格：</span>
                        <select name="specification" class="select" id="specification" style="width: 120px">
                            <option>选择规格</option>
                        </select>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">现有库存：</span>
                        <input id="inventory" name="inventory" class="textbox textbox_225" type="text" value="..." readonly />
                    </li>

                    <li>
                        <span class="item_name" style="width:120px;">请输入补货数量：</span>
                        <input type="text" name="add" value="" >
                    </li>
                    <li>
                        <input type="submit" value="提交">
                    </li>
                </ul>
            </form>

        </div>
    </section>
    <script>

        var Brand = $('#brand');
        var Category = $('#category');
        var Goodname = $('#goodname');
        var Section = $('#section');
        var Inventory = $('#inventory');
        console.log(Inventory.val());
        var Specification = $('#specification');
        Category.change(function () {
            $.post('{% url 'admin:addinventory' %}', {'categoryid': this.value}, function (data) {
                Goodname.empty();
                Section.empty();
                Specification.empty();
                Goodname.append("<option value=''>请选择商品类别</option>");
                Section.append("<option value=''>请选择商品种类</option>");
                Specification.append("<option value=''>请选择商品规格</option>");
                for (var i = 0; i < data.length; i++) {
                    var option = "<option value='" + data[i].gid + "'>" + data[i].gname + "</option>";
                    Goodname.append(option)
                }

            });
        });

        Brand.change(function () {
            $.post('{% url 'admin:addinventory1' %}', {'brandid': this.value}, function(data){
                Section.empty();
                Specification.empty();
                Section.append("<option value=''>请选择商品种类</option>");
                Specification.append("<option value=''>请选择商品规格</option>");
                for (var i = 0; i < data.length; i++) {
                    var option = "<option value='" + data[i].smallclassesattribute + "'>" + data[i].smallclassesattribute + "</option>";
                    Section.append(option)
                }
            })
        });

        Section.change(function () {

            $.post('{% url 'admin:addinventory2' %}', {'section': this.value}, function(data){
                Specification.empty();
                console.log(data);
                Specification.empty();
                Specification.append("<option value=''>请选择商品规格</option>");
                for (var i = 0; i < data.length; i++) {
                    var option = "<option value='" + data[i].id + "'>" + data[i].specification + "</option>";
                    Specification.append(option)
                }
            })
        });

        Specification.change(function () {
            $.post('{% url 'admin:addinventory3' %}', {'specificationid': this.value}, function(data){

                Inventory.val(data[0].inventory)
            })
        })

    </script>
{% endblock content %}

{% block foot %}
{% endblock foot %}


