{% extends 'admin/index.html' %}
{% load static %}

{% block content %}
    <section class="rt_wrap content mCustomScrollbar">
        <div class="rt_content">
            <div class="page_title">
                <h3>添加已有商品种类(属性) <span class="label label-default">ADD</span></h3>
            </div>
            <form action="{% url 'admin:addattrbute' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <ul class="ulColumn2">
                    <li>
                        <span class="item_name" style="width:120px;">分类：</span>
                        <select name="category" class="select"  style="width: 120px;" id="category" >
                            <option>选择已有产品分类</option>
                            {% for commodity_category in commodity_categories %}
                                <option value="{{ commodity_category.id }}">{{ commodity_category.categoryname }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">品牌：</span>
                        <select name="brand" class="select" id="brand" >
                            <option>选择品牌</option>
                            {% for commodity in commodity_brand %}
                                <option value="{{ commodity.id }}">{{ commodity.brandname }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">商品名称：</span>
                        <select name="goodid" class="select" id="goodname" style="width: 120px">
                            <option>请选择商品</option>
                        </select>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">新商品种类：</span>
                        <input  name="attrbute" class="textbox textbox_225" type="text"   />
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">规格：</span>
                        <input  name="specification" class="textbox textbox_225" type="text"   />
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">单位：</span>
                        <input  name="unit" class="textbox textbox_225" type="text"   />
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">售价：</span>
                        <input  name="price" class="textbox textbox_225" type="text"   />
                    </li>
                        <span class="item_name" style="width:120px;">在首页显示该价格：</span>
                        <select name="ishow" class="select" id="goodname" style="width: 120px">
                            <option>请选择</option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    <li>
                        <span class="item_name" style="width:120px;">采购价：</span>
                        <input  name="stockprice" class="textbox textbox_225" type="text"   />
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">请输入补货数量：</span>
                        <input  name="inventory" class="textbox textbox_225" type="text"   />
                    </li>
                    <li>
                        <span class="item_name" style="width:45px;"></span>
                        <input type="submit" value="提交" >
                    </li>
                </ul>
            </form>

        </div>

        <div class="rt_content">
            <div class="page_title">
                <h3>修改/删除已有商品属性 <span class="label label-default">ALTER/DELETE</span></h3>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span6">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    分类
                                </th>
                                <th>
                                    品牌
                                </th>
                                <th>
                                    商品名称
                                </th>
                                <th>
                                    商品种类
                                </th>
                                <th>
                                    规格
                                </th>
                                <th>
                                    单位
                                </th>
                                <th>
                                    售价
                                </th>
                                <th>
                                    是否在首页显示
                                </th>
                                <th>
                                    采购价
                                </th>
                                <th>
                                    补货数量
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for attr in good_attr %}
                                <tr>
                                    <td>
                                        {{ attr.id }}
                                    </td>

                                    <td>
                                        {{ attr.categoryname }}
                                    </td>

                                    <td>
                                        {{ attr.brandname }}
                                    </td>
                                    <td>
                                        {{ attr.gname }}
                                    </td>
                                    <td>
                                        {{ attr.smallclassesattribute }}
                                    </td>
                                    <td>
                                        {{ attr.specification }}
                                    </td>
                                    <td>
                                        {{ attr.unit }}
                                    </td>
                                    <td>
                                        {{ attr.price }}
                                    </td>
                                    <td>
                                        {% if attr.is_show == 1 %}
                                            <p>是</p>
                                        {% else %}
                                            <p>否</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ attr.stockprice }}
                                    </td>
                                    <td>
                                        {{ attr.inventory }}
                                    </td>
                                    <td>
                                        <a onclick="update('{{ attr.id }}')">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                                            onclick="del('{{ attr.id }}')">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="span6">
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">修改已有商品信息</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'admin:alterattrbute' %}" method="post" id="form1">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">分类:</label>
                            <select name="categoryid" class="select">
                                <option>选择已有产品分类</option>
                                {% for commodity_category in commodity_categories %}
                                    <option value="{{ commodity_category.id }}">{{ commodity_category.categoryname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">品牌:</label>
                            <select name="brandid" class="select">
                                <option value="">请选择商品品牌</option>
                                {% for commodity in commodity_brand %}
                                    <option value="{{ commodity.id }}">{{ commodity.brandname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">商品名称:</label>
                            <input type="text" class="form-control" id="recipient-name" name="gname">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">搜索关键字:</label>
                            <input type="text" class="form-control" id="recipient-name" name="keyword">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">新的大板块图片:</label>
                            <input type="file" class="control-label" name="picture">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="alter()">提交修改</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        var Brand = $('#brand');
        var Category = $('#category');
        var Goodname = $('#goodname');
        {#var Section = $('#section');#}
        {#var Inventory = $('#inventory');#}
        {#console.log(Inventory.val());#}
        {#var Specification = $('#specification');#}
        Category.change(function () {
            $.post('{% url 'admin:addinventory' %}', {'categoryid': this.value}, function (data) {
                Goodname.empty();
                {#Section.empty();#}
                {#Specification.empty();#}
                Goodname.append("<option value=''>请选择商品类别</option>");
                {#Section.append("<option value=''>请选择商品种类</option>");#}
                {#Specification.append("<option value=''>请选择商品规格</option>");#}
                for (var i = 0; i < data.length; i++) {
                    var option = "<option value='" + data[i].gid + "'>" + data[i].gname + "</option>";
                    Goodname.append(option)
                }

            });
        });

        function update(id) {
            $('input[name="attrid"]').remove()
            console.log($('#form1').append("<input type=hidden name='attrid' value=" + id + ">"))
            $('#exampleModal').modal('show')

        }

    </script>
{% endblock content %}

{% block foot %}
{% endblock foot %}


