{% extends 'admin/index.html' %}
{% load static %}

{% block content %}
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">配送方式</h2>
       <a href="product_detail.html" class="fr top_rt_btn add_icon">添加配送方式</a>
      </div>
      <table class="table">
       <tr>
        <th>缩略图</th>
        <th>快递名称</th>
        <th>快递价格</th>
        <th>快递描述</th>
        <th>操作</th>
       </tr>
       {% for express in express %}
       <tr>
        <td class="center"><img src="{% static express.express_photo %}" width="165" height="65"/></td>
        <td style="text-align: center">{{ express.express_name }}</td>
        <td style="text-align: center">{{ express.express_price}}</td>
        <td><p>{{ express.express_info }}</p></td>
        <td class="center">
         <a href="product_detail.html" title="编辑" class="link_icon">&#101;</a>
         <a href="{% url 'admin:delexpress' express.id %}" title="删除" class="link_icon">&#100;</a>
        </td>
       </tr>
       {% endfor %}

      </table>

 </div>
</section>
{% endblock content %}

{% block foot %}
{% endblock foot %}


