{% extends 'admin/index.html' %}
{% load static %}

{% block content %}
    <section class="rt_wrap content mCustomScrollbar">
        <div class="rt_content">
            <div class="page_title">
                <h3>订单列表<span class="label label-default">NOW</span>
                <a href="#" class="fr top_rt_btn add_icon">为了保证您和卖家的利益请谨慎删除订单记录</a>
            </div>
            <section class="mtb">
                <form action="{% url 'admin:choiceorder' %}" method="post">
                    {% csrf_token %}
                    <select name="choice" class="select">
                        <option value="all">所有订单</option>
                        <option value="waitpay">待付款</option>
                        <option value="waitsend">待发货</option>
                        <option value="waitget">待收货</option>
                        <option value="waitsay">待评价/已完成</option>
                    </select>
                    <input type="text" class="textbox textbox_225" placeholder="输入订单编号或收件人姓名/电话..."/>
                    <input type="submit" value="查询" class="group_btn"/>
                </form>
            </section>
            <table class="table">
                <tr>
                    <th>订单编号</th>
                    <th>收件人</th>
                    <th>联系电话</th>
                    <th>收件人地址</th>
                    <th>订单状态</th>
                    <th>配送方式</th>
                    <th>操作</th>
                </tr>
                {% for res in res %}
                    <tr>
                        <td class="center">{{ res.id }}</td>
                        <td>{{ res.receiver }}</td>
                        <td>{{ res.phone_number }}</td>
                        <td>
                            <address>{{ res.location }}{{ res.detail_address }}</address>
                        </td>
                        {% if res.orderstatus == 0 %}
                            <td class="center">买家未支付</td>
                        {% elif res.orderstatus == 1 %}
                            <td class="center">买家已付款，未发货</td>
                        {% elif res.orderstatus == 2 %}
                            <td class="center">已发货，买家未收货</td>
                        {% elif res.orderstatus == 3 %}
                            <td class="center">买家已收货，未评价</td>
                        {% elif res.orderstatus == 4 %}
                            <td class="center">买家已评价，交易完成</td>
                        {% else %}
                            <td class="center">买家申请退货</td>
                        {% endif %}
                        <td class="center">{{ res.express_name }}</td>
                        <td class="center">
                            <a href="{% url 'admin:orderdetail' res.id %}" title="查看订单" class="link_icon"
                               target="_blank">&#118;</a>
                            <a href="{% url 'admin:delorder' res.id %}" title="删除" class="link_icon">&#100;</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="row">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if pagination.has_previous %}
                            <li>
                                <a href="{% url 'admin:orderlist1' pagination.previous_page_number %}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for page in pagerange %}
                            {% if page == pagination.number %}
                                <li class="active"><a href="{% url 'admin:orderlist1' page %}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="{% url 'admin:orderlist1' page %}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if pagination.has_next %}
                            <li>
                                <a href="{% url 'admin:orderlist1' pagination.next_page_number %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>

            </div>

        </div>


    </section>
{% endblock content %}
{% block foot %}
{% endblock foot %}
