{% extends 'admin/index.html' %}
{% load static %}

{% block content %}
    <section class="rt_wrap content mCustomScrollbar">
        <div class="rt_content">
            <div class="page_title">
                <h2 class="fl">最近七日浏览量</h2>
            </div>
            <div class="dataStatistic">
                <div id="line">
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'admin/js/amcharts.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin/js/serial.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin/js/pie.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            GetSerialChart();
            MakeChart(json);
        });

        var json = [
            {#{"name": "{{ day1time | date:"d" }}", "value": "{{ day1view }}"},#}
            {"name": "{{ day2time | date:"d" }}", "value": "{{ day2view }}"},
            {"name": "{{ day3time | date:"d" }}", "value": "{{ day3view }}"},
            {"name": "{{ day4time | date:"d" }}", "value": "{{ day4view }}"},
            {"name": '{{ day5time | date:"d" }}', "value": '{{ day5view}}'},
            {"name": '{{ day6time | date:"d" }}', "value": '{{ day6view }}'},
            {"name": '{{ day7time | date:"d" }}', "value": '{{ day7view }}'},

        ]
        //折线图
        AmCharts.ready(function () {
            var chart = new AmCharts.AmSerialChart();
            chart.dataProvider = json;
            chart.categoryField = "name";
            chart.angle = 30;
            chart.depth3D = 20;
            //标题
            //chart.addTitle("3D折线图Demo", 15);
            var graph = new AmCharts.AmGraph();
            chart.addGraph(graph);
            graph.valueField = "value";
            //背景颜色透明度
            graph.fillAlphas = 0.3;
            //类型
            graph.type = "line";
            //圆角
            graph.bullet = "round";
            //线颜色
            graph.lineColor = "#8e3e1f";
            //提示信息
            graph.balloonText = "[[name]]: [[value]]";
            var categoryAxis = chart.categoryAxis;
            categoryAxis.autoGridCount = false;
            categoryAxis.gridCount = json.length;
            categoryAxis.gridPosition = "start";
            chart.write("line");
        });

    </script>
{% endblock content %}

{% block foot %}
{% endblock foot %}