{% extends 'admin/index.html' %}
{% load static %}

{% block content %}
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">支付方式</h2>
       <a href="addnewgood.html" class="fr top_rt_btn add_icon">添加支付方式</a>
      </div>
      <table class="table">
       <tr>
        <th>缩略图</th>
        <th>支付名称</th>
        <th>支付描述</th>
        <th>操作</th>
       </tr>
       {% for payway in payways %}
       <tr>
        <td class="center"><img src="{% static payway.pay_photo %}" width="165" height="65"/></td>
        <td style="text-align: center">{{ payway.pay_name }}</td>
        <td><p>{{ payway.pay_info }}</p></td>
        <td class="center">
         <a href="addnewgood.html" title="编辑" class="link_icon">&#101;</a>
         <a href="{% url 'admin:delpayway' payway.id %}" title="删除" class="link_icon">&#100;</a>
        </td>
       </tr>
        {% endfor %}

 </div>
</section>
{% endblock content %}

{% block foot %}
{% endblock foot %}