{% extends 'admin/index.html' %}
{% load static %}

{% block content %}
    <section class="rt_wrap content mCustomScrollbar">
        <div class="rt_content">
            <div class="page_title">
                <h2 class="fl">用户详情</h2>
                <a href="user_account.html" class="fr top_rt_btn money_icon">资金管理</a>
            </div>
            <form action="{% url 'admin:userdetail' current_user.uid %}" method="post">
                {% csrf_token %}
                <ul class="ulColumn2">
                    <li>
                        <span class="item_name" style="width:120px;">当前头像</span>
                        <img src="{% static current_user.user_photo %}" width="50" height="50"/>
                    </li>
{#                    <li>#}
{#                        <span class="item_name" style="width:120px;">上传头像：</span>#}
{#                        <label class="uploadImg">#}
{#                            <input name="picture" type="file"/>#}
{#                            <span>上传头像</span>#}
{#                            <input name="picture" type="file" style="height:23px; width:300px;" />#}
{##}
{#                        </label>#}
{#                    </li>#}
                    <li>
                        <span class="item_name" style="width:120px;">用户名：</span>
                        <input type="text" class="textbox textbox_225" value="{{ current_user.username }} " name="username" placeholder="会员账号..."/>
{#                        {{ form.username.errors }}#}
                    </li>
                    {% if current_user.user_type == 1 %}
                        <li>
                            <span class="item_name" style="width:120px;">当前登陆密码：</span>
                            <input type="password" class="textbox textbox_225" name="oldpassword"/>
                            {{ form.oldpassword.errors }}
                        </li>
                        <li>
                            <span class="item_name" style="width:120px;">新密码：</span>
                            <input type="password" class="textbox textbox_225" name="newpassword"/>
                            {{ form.newpassword.errors }}
                        </li>
                        <li>
                            <span class="item_name" style="width:120px;">确认新密码：</span>
                            <input type="password" class="textbox textbox_225" name="renewpassword"/>
                            {{ form.renewpassword.errors }}
                        </li>
                    {% endif %}
                    <li>
                        <span class="item_name" style="width:120px;">用户类型：</span>
                        <select name="usertype" class="select">
                            {% if current_user.user_type == 1 %}
                            <option value="0">普通用户</option>
                            <option value="1" selected="selected">管理员</option>
                            {% else %}
                                <option value="0" selected="selected">普通用户</option>
                            <option value="1">管理员</option>
                            {% endif %}
                        </select>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">电子邮箱：</span>
                        <input name="email" type="email" class="textbox textbox_225" value="{{ current_user.email }}" placeholder="电子邮件地址..."/>
                        <span class="errorTips">{{ form.email.errors }}</span>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">手机号码：</span>
                        <input name="phonenumber" type="tel" class="textbox textbox_225" value="{{ current_user.phone_number }}" placeholder="手机号码..."/>
                        {{ form.phonenumber.errors }}
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">可用资金：</span>
                        <input type="text" class="textbox textbox_225" value="{{ current_account.money }}" readonly/>
                        <span>元</span>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">当前积分：</span>
                        <input type="text" class="textbox textbox_225" value="{{ current_grade.changed_grade }}" readonly/>
                        <span>吃货币</span>
                    </li>

                    <li>
                        <span class="item_name" style="width:120px;"></span>
                        <input type="submit" class="link_btn" value="更新/保存"/>
                    </li>
                </ul>
            </form>
        </div>
    </section>
{% endblock content %}

{% block foot %}
{% endblock foot %}
