{% extends 'admin/index.html' %}
{% load static %}

{% block content %}
    <section class="rt_wrap content mCustomScrollbar">
        <div class="rt_content">
            <div class="page_title">
                <h2 class="fl">用户列表</h2>
                {#                <a href="{% url 'admin:userdetail'  %}" class="fr top_rt_btn add_icon">添加新会员</a>#}
            </div>
            <section class="mtb">
                <select class="select">
                    <option>会员等级</option>
                    <option>普通会员</option>
                    <option>高级会员</option>
                </select>
                <input type="text" class="textbox textbox_225" placeholder="输入会员号/手机/电子邮件查询..."/>
                <input type="button" value="查询" class="group_btn"/>
            </section>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>会员头像</th>
                    <th>会员账号</th>
                    <th>手机号码</th>
                    <th>电子邮件</th>
                    <th>验证</th>
                    <th>会员等级</th>
                    <th>账户余额</th>
                    <th>操作</th>
                </tr>
                {% for info in res %}
                    <tr>
                        <td class="center">{{ info.uid }}</td>
                        <td class="center"><img src="{% static info.user_photo %}" width="50" height="50"/></td>
                        <td>{{ info.username }}</td>
                        <td class="center">{{ info.phone_number }}</td>
                        <td class="center">{{ info.email }}</td>
                        <td class="center"><a title="已验证" class="link_icon">&#89;</a></td>
                        <td class="center">普通会员</td>

                        <td class="center">
                            <strong class="rmb_icon">{{ info.money }}</strong>
                        </td>
                        {#                            {% else %}#}
                        {#                                <td class="center">#}
                        {#                                    <strong class="rmb_icon">0</strong>#}
                        {#                                </td>#}


                        <td class="center">
                            <a href="{% url 'admin:userdetail' info.uid %}" title="编辑" class="link_icon">&#101;</a>
                            <a href="{% url 'admin:deluser' info.uid %}" title="删除" class="link_icon">&#100;</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="row">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if pagination.has_previous %}
                            <li>
                                <a href="{% url 'admin:userlist1' pagination.previous_page_number %}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for page in pagerange %}
                            {% if page == pagination.number %}
                                <li class="active"><a href="{% url 'admin:userlist1' page %}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="{% url 'admin:userlist1' page %}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if pagination.has_next %}
                            <li>
                                <a href="{% url 'admin:userlist1' pagination.next_page_number %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>

            </div>
        </div>

    </section>
{% endblock content %}

{% block foot %}
{% endblock foot %}