{% block doc %}

<!DOCTYPE html>
<html lang="en">

{% blocck head%}
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>首页 - 10分钟学院</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index/css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index/css/index.css') }}"/>
</head>
{% endblock head %}
</head>
<body>
{% block script %}
<script>
    function setHomepage(sURL) {

        document.body.style.behavior = 'url(#default#homepage)';
        document.body.setHomePage(sURL);

    }
</script>
{% endblock script %}
{% block content %}
{% endblock content %}

{% block footer %}
{% endblock footer%}
</body>
</html>
{% endblock doc%}
