{% extends 'index.html' %}


{% block setting %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>首页 - 10分钟学院</title>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index/css/style.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index/css/home.css') }}"/>
    </head>
{% endblock setting %}
<body>

{% block content %}
<!--LIST start-->
<div id="wp" class="wp">
	<div id="pt" class="bm cl">
		<div class="z">
			<a href=".." class="nvhm" title="首页">用户签名 - 10分钟学院</a> <em>&rsaquo;</em><a href="{{ url_for('bbs.home') }}">设置</a> <em>&rsaquo;</em>修改头像
		</div>
	</div>
	<div id="ct" class="ct2_a wp cl">
		<div class="mn">
		<div class="bm bw0">
		<form action="" method="post" autocomplete="off" enctype="multipart/form-data">
		<table cellspacing="0" cellpadding="0" class="tfm">
		<caption>
			<h2 class="xs2">当前我的头像</h2>
			<p>如果您还没有设置自己的头像，系统会显示为默认头像，您需要自己上传一张新照片来作为自己的个人头像 </p>
		</caption>
			<tr>
				<td>
				<img src="/static/{{ user_tx }}" style="border:1px solid #ccc" /><br /><br /><br />
				<h2 class="xs2">设置我的新头像</h2><br />
				<input name="pic" type="file" style="height:23px; width:300px;" />
				</td>
			</tr>
			<tr>
				<td>
					<button type="submit" name="profilesubmitbtn" id="profilesubmitbtn" value="true" class="pn pnc" /><strong>保存</strong></button>
				</td>
			</tr>
		</table>
		</form>
		</div>
		</div>
	
		<div class="appl">
			<div class="tbn">
				<h2 class="mt bbda">设置</h2>
				<ul>
					<li class="a"><a href="{{ url_for('bbs.home_tx') }}">修改头像</a></li>
					<li><a href="{{ url_for('bbs.home') }}">个人资料</a></li>
					<li><a href="{{ url_for('bbs.home_qm') }}">个人签名</a></li>
					<li><a href="{{ url_for('bbs.home_pass') }}">密码安全</a></li>
					<!--<li><a href="home_sc.html">收藏管理</a></li>-->
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
<!--LIST end-->

<!--FOOT start-->
<div id="ft" class="wp cl">
	<div id="flk" class="y">
		<p>
		<a href="#" >京ICP备 89273号</a><span class="pipe">|</span><strong><a href="http://www.htmlxy.com/" target="_blank">phpxy</a></strong>
		</p>
		<p class="xs0">
			Time Now Is: 06-10 17:25		</p>
	</div>
	<div id="frt">
		<p>Powered by <strong><a href="http://www.htmlxy.com/" target="_blank">phpxy</a></strong> <em>V2</em></p>
		<p class="xs0">&copy; 2019 <a href="http://www.htmlxy.com/" target="_blank">phpxy Inc.</a></p>
	</div>
</div><!--FOOT end-->
</body>
</html>

