<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>提示 - 10分钟学院</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<link rel="stylesheet" type="text/css" href="../static/index/css/style.css" />
	</head>

<body>
<!--TOP start-->
<div id="toptb" class="cl">
	<div class="wp">
		<div class="z"><a href="javascript:;" onclick="setHomepage('http://www.htmlxy.com/')" >设为首页</a><a href="javascript:;" onclick="window.external.AddFavorite(location.href,document.title);return false;">收藏本站</a></div>
	</div>
</div>
<script>
function setHomepage(sURL) {
	
		document.body.style.behavior = 'url(#default#homepage)';
		document.body.setHomePage(sURL);
	
}             
</script><!--TOP end-->

<!--HEAD start-->
<div id="hd">
	<div class="wp">
		<div class="hdc cl">
			<h2><a href=".." title="提示 - 10分钟学院"><img src="../static/index/images/logo.jpg" height="80" border="0" /></a></h2>
					</div>
	
		<div id="nv">
			<ul>	
				<li class="a" id="mn_forum" ><a href="index.html" hidefocus="true" title="10分钟学院">首页</a><span>10分钟学院</span></li>
								<li  id="mn_home" ><a href="index.html?bigid=1" hidefocus="true" title="Space">PHP技术交流</a></li>
								<li  id="mn_home" ><a href="index.html?bigid=2" hidefocus="true" title="Space">程序人生</a></li>
								
			</ul>
		</div>
		
		<div id="scbar" class="cl">
			<form id="scbar_form" method="get" autocomplete="off" action="search.html" target="_blank">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td class="scbar_icon_td"></td>
					<td class="scbar_txt_td"><input type="text" name="keywords" id="scbar_txt" onfocus="if(this.value=='请输入搜索内容'){this.value='';this.style.color='#666';}" onblur="if(this.value==''){this.value='请输入搜索内容';this.style.color='#ccc';}" value="请输入搜索内容" style="color:#CCCCCC" autocomplete="off" /></td>
					<td class="scbar_btn_td">
						<button type="submit" name="searchsubmit" id="scbar_btn" class="pn pnc" value="true"><strong class="xi2 xs2">搜索</strong></button>
					</td>
					<td class="scbar_hot_td">
						<div id="scbar_hot">
							<strong class="xw1">热搜: </strong>
														<a href="search.html?keywords=活动" target="_blank" class="xi2">活动</a>
														<a href="search.html?keywords=交友" target="_blank" class="xi2">交友</a>
														<a href="search.html?keywords=教程" target="_blank" class="xi2">教程</a>
													</div>
					</td>
				</tr>
			</table>
			</form>
		</div>
	</div>
</div>
<!--HEAD end-->

<!--NOTICE START-->
<div id="wp" class="wp">
	<div id="ct" class="wp cl w">
		<div class="nfl">
			<div class="f_c altw">
				<div id="messagetext" class="alert_right">
				<p><font color=green><b>您已退出站点，现在将以游客身份转入退出前页面</b></font>，请稍候…… <br />
				<script type="text/javascript" reload="1">setTimeout("location.href='index.html';", 3000);</script></p>
				<p class="alert_btnleft"><a href="index.html">如果你的浏览器没有自动跳转，请点击此链接</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--NOTICE END-->

<!--FOOT start-->
<div id="ft" class="wp cl">
	<div id="flk" class="y">
		<p>
		<a href="#" >京ICP备 89273号</a><span class="pipe">|</span><strong><a href="http://www.htmlxy.com/" target="_blank">phpxy</a></strong>
		</p>
		<p class="xs0">
			Time Now Is: 06-10 17:29		</p>
	</div>
	<div id="frt">
		<p>Powered by <strong><a href="http://www.htmlxy.com/" target="_blank">phpxy</a></strong> <em>V2</em></p>
		<p class="xs0">&copy; 2019 <a href="http://www.htmlxy.com/" target="_blank">phpxy Inc.</a></p>
	</div>
</div><!--FOOT end-->
</body>
</html>

