
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>活动的搜索结果 - 10分钟学院</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index/css/index.css')}}" />
	</head>

<body>
	<div id="toptb" class="cl">
		<div class="z">
			<a href="./" class="showmenu xi2">返回首页</a>
		</div>
		<div class="y">
						<strong><a href="#" target="_blank">王博文</a></strong>
			<a href="#">设置</a>
			<a href="loginout.php">退出</a>
					</div>
	</div>

	<div id="ct" class="cl w">
		<div class="mw">
			<form class="searchform" method="get" autocomplete="off" action="search.php">
			<table id="scform" class="mbm" cellspacing="0" cellpadding="0">
				<tr>
					<td><h1><a href="{{ url_for('bbs.index')}}"><img src="{{ url_for('static',filename='index/images/logo.png')}}" alt="Discuz! Board" /></a></h1></td>
					<td>
						<table id="scform_form" cellspacing="0" cellpadding="0">
							<tr>
								<td class="td_srchtxt">
									<input type="text" id="scform_srchtxt" name="srchtxt" size="45" maxlength="40" value="活动" tabindex="1" />
								</td>
								<td class="td_srchbtn">
									<button type="submit" id="scform_submit" class="schbtn"><strong>搜索</strong></button>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			</form>

			<div class="tl">
				<div class="sttl mbn">
					<h2>结果: <em>找到 “<span class="emfont">活动</span>” 相关内容 0 个</em></h2>
				</div>
								<p class="emp xs2 xg2">对不起，没有找到匹配结果。</p>
							</div>
		</div>
	</div>

	<div id="ft" class="w cl">
		<em>Powered by <strong><a href="http://www.phpxy.com/" target="_blank">phpxy</a></strong> <em>V2</em></em> &nbsp;
		<em>&copy; 2012 <a href="http://www.phpxy.com/" target="_blank">phpxy Inc.</a></em>
	</div>
</body>
</html>