{% load static %}
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="stylesheet" href="{% static 'shop/AmazeUI-2.4.2/assets/css/amazeui.css' %}"/>
    <link href="{% static 'shop/css/dlstyle.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'shop/AmazeUI-2.4.2/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'shop/AmazeUI-2.4.2/assets/js/amazeui.js' %}"></script>

</head>

<body>

<div class="login-boxtitle">
    <a href="home/demo.html"><img alt="" src="{% static 'shop/images/logobig.png' %}"/></a>
</div>

<div class="res-banner">
    <div class="res-main">
        <div class="login-banner-bg"><span></span><img src="{% static 'shop/images/big.jpg' %}"/></div>
        <div class="login-box">

            <div class="am-tabs" id="doc-my-tabs">
                <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
                    <li class="am-active"><a href="">邮箱注册</a></li>
                    <li><a href="">手机号注册</a></li>
                </ul>

                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-active">
                        <form method="post" action="{% url 'goods:register' %}" id="form1">
                            {% csrf_token %}
                            <div class="user-email">
                                <label for="email"><i class="am-icon-envelope-o"></i></label>
                                <input type="email" name="email" id="email" placeholder="请输入邮箱账号">
                            </div>
                            <div class="user-pass">
                                <label for="password"><i class="am-icon-lock"></i></label>
                                <input type="password" name="password_1" id="password" placeholder="设置密码">
                            </div>
                            <div class="user-pass">
                                <label for="passwordRepeat"><i class="am-icon-lock"></i></label>
                                <input type="password" name="password_2" id="passwordRepeat" placeholder="确认密码">
                            </div>



                            <div class="login-links">
{#                                <label for="reader-me">#}
                                    <input id="reader-me" type="checkbox"> 点击表示您同意商城《服务协议》


{#                                </label>#}
                            </div>
                            <div class="am-cf">
                                <input type="submit" name="" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl"
                                       id="reg">
                            </div>
</form>
                    </div>


                    <script>
                        {#$('#reg').click(function (ev) {#}
                        {#    ev.preventDefault();#}
                        {#    $.post("{% url 'goods:register' %}", $('#form1').serialize())#}
                        {# });#}


                        $('#reg').click(function (ev) {

                            if (!$('#reader-me').is(':checked')) {
                                alert("请选择阅读服务协议！");
                            } else {
                                var emal = $('#email').val();
                                if (!emal.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+$/)) {
                                    alert("对不起邮箱格式不正确请重新输入！");
                                } else {
                                    passd1 = $('#password').val();
                                    passd2 = $('#passwordRepeat').val();
                                    if (!(passd1 == passd2)) {
                                        alert('对不起两次密码输入不一致请重新输入')
                                    } else {
                                        if (!passd2.match(/\D/)) {
                                            alert('对不起密码不能是纯数字！')
                                        } else {
                                            {#$.post("{% url 'goods:register' %}", $('#form1').serialize())#}
                                        }
                                    }
                                }
                            }
                        })
                    </script>


                    <div class="am-tab-panel">
                        <form method="post" action="{% url 'goods:register' %}" id="form2">
                            {% csrf_token %}
                            <div class="user-phone">
                                <label for="phone"><i class="am-icon-mobile-phone am-icon-md"></i></label>
                                <input type="tel" name="phone" id="phone" placeholder="请输入手机号">
                            </div>
                            <div class="verification">
                                <label for="code"><i class="am-icon-code-fork"></i></label>

                                {% if request.session.code %}
                                    <input type="tel" name="auth_code" id="code" placeholder="对不起验证码错误请重新输入">
                                {% else %}
                                    <input type="tel" name="auth_code" id="code" placeholder="{{ data }}请输入验证码">
                                {% endif %}





                                <a class="btn" href="javascript:void(0);" onclick="sendMobileCode();"
                                   id="sendMobileCode">
                                    <span id="dyMobileButton">获取</span></a>
                            </div>
                            <div class="user-pass">
                                <label for="password"><i class="am-icon-lock"></i></label>
                                <input type="password" name="password" id="passwordph" placeholder="设置密码">
                            </div>
                            <div class="user-pass">
                                <label for="passwordRepeat"><i class="am-icon-lock"></i></label>
                                <input type="password" name="passwordRepeat" id="passwordRepeatph" placeholder="确认密码">
                            </div>
                        </form>
                        <div class="login-links">
                            <label for="reader-meph">
                                <input id="reader-meph" type="checkbox"> 点击表示您同意商城《服务协议》
                            </label>
                        </div>
                        <div class="am-cf">
                            <input type="submit" name="" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl"
                                   id="regphone">
                        </div>

                        <hr>
                    </div>

                    <script>
                        $('#dyMobileButton').click(function (ev) {
                            ev.preventDefault();
                            var phone = $('#phone').val();
                            if (!phone.match(/^1[3456789]\d{9}$/)) {
                                alert("对不起手机格式不正确请重新输入！");
                            } else {
                                $.post("{% url 'goods:auth_code_' %}", $('#form2').serialize())
                            }
                        });

                        $('#regphone').click(function (ev) {
                            ev.preventDefault();
                            if (!$('#reader-meph').is(':checked')) {
                                alert("请选择阅读服务协议！");
                            } else {
                                var phone = $('#phone').val();
                                if (!phone.match(/^1[3456789]\d{9}$/)) {
                                    alert("对不起手机格式不正确请重新输入！");
                                } else {
                                    passd1 = $('#passwordph').val();
                                    passd2 = $('#passwordRepeatph').val();
                                    if (!(passd1 == passd2)) {
                                        alert('对不起两次密码输入不一致请重新输入')
                                    } else {
                                        if (!passd2.match(/\D/)) {
                                            alert('对不起密码不能是纯数字！')
                                        } else {
                                            $.post("{% url 'goods:register' %}", $('#form2').serialize())
                                        }
                                    }
                                }
                            }
                        });


                        $(function () {
                            $('#doc-my-tabs').tabs();
                        })
                    </script>

                </div>
            </div>

        </div>
    </div>

    <div class="footer ">
        <div class="footer-hd ">
            <p>
                <a href="# ">恒望科技</a>
                <b>|</b>
                <a href="# ">商城首页</a>
                <b>|</b>
                <a href="# ">支付宝</a>
                <b>|</b>
                <a href="# ">物流</a>
            </p>
        </div>
        <div class="footer-bd ">
            <p>
                <a href="# ">关于恒望</a>
                <a href="# ">合作伙伴</a>
                <a href="# ">联系我们</a>
                <a href="# ">网站地图</a>
                <em>© 2015-2025 Hengwang.com 版权所有</em>
            </p>
        </div>
    </div>
</div>
</body>

</html>